body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body div {
    flex: 1 1 20%
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}


