body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: center;
    padding: 0 10%;
    gap: 10px;
}

.content * {
    flex: 0 1 25%;
}

.title-container {
    display: flex;
    flex-direction: column;
}

