body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body .content-container {
    flex: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    gap: 10px;
    align-items: center;
}

.content * {
    flex: 1 1 25%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title-container * {
    flex: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}

.content-container.quote-container {
    justify-content: center;
    gap: 10px;
}

.content-container.signup {
    flex-direction: row;
    justify-content: space-around;

}

.content-container.text {
    flex-direction: column;
    align-items: start;
    gap: 5px;
    flex: 0 1 auto;
    padding: 0;
}

.chip-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    gap: 10px;
}

.chip {
    flex: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chip img {
    width: 100px;
    height: 100px;
}

.footer {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.footer-text {
    flex: 0 0 auto;
    color: white;
    font-size: 10px;
}
